@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@1,300&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

div#banner{
    margin-right: 20px;
    margin-top: 10px;
    float: right;
    width: 1200px;
    height: 100px;
    background-color: rgb(110, 110, 154);
}

div#finalbanner{
    margin-right: 20px;
    margin-top: 10px;
    margin-bottom: 10px; 
    display: flex;  
    float: right;
    width: 1500px;
    height: 30px;
    background-color: rgb(110, 110, 154);
}

html{
    font-family: "Open+Sans", sans-serif;
}

.container{
    widows: 100;
    height: auto;
    align-items: center;
    justify-content: center;
}

.container h1{
    text-align: center;
    margin-top: 30px;
    font-size: 30px;
}

.container p{
    text-align: justify-all;
    margin-top: 10px;
    font-size: 17px;
    margin: 20px;
}

.container h2, h3{
    margin: 20px;
}

#imgl{
    margin-left: 20px;
    margin-top: 10px;
}
#img1, #img2{
    width: 250px;
    height: 110px;
}

#img1{
    float: right;
    margin-right: 20px;
}

#img2{
    float: left;
    margin-left: 20px;
}

#video{
    margin-right: 20px;
    margin-top: 10px;
    float: right;
}

#img3{
    margin-left: 20px;
    margin-top: 10px;
    width: 560px;
    height: 315px;
}
#link1, #link2, #link3{
    margin: 20px;
}